{% extends 'ai/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'ai/css/index.css' %}">
{% endblock %}

{% block page_title %} <title>Members - AI Sentinel</title>  {% endblock %}

{% block container %}
<!-- Navbar -->
<div class="row m-0 bg-primary justify-content-between" id="navbar">
    <div class="logo m-2 ml-5">
        <a href="/">
          <img src="{% static 'ai/assets/as-logo.png' %}" alt="as logo" style="width: 65px;">
          <span class="heading">AI Sentinel</span>
        </a>
    </div>
    <div class="menu-items d-flex mr-5" >
        <div class="mr-5" >
            <a href="/">
                Home
            </a>
        </div>
        <div class="ml-2 mr-5" style="font-weight: bold;">
            <a href="/members">
                Members
            </a>
        </div>
        <div class="mr-3" >
          <a href="/scan">
              <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                  <rect y="1" width="30" height="30" rx="15" fill="white" fill-opacity="0.3"/>
                  <path d="M7.8 9.77778V13.6667H9.4V10.5556H12.6V9H8.6C8.1576 9 7.8 9.34767 7.8 9.77778ZM22.2 13.6667V9.77778C22.2 9.34767 21.8424 9 21.4 9H17.4V10.5556H20.6V13.6667H22.2ZM20.6 21.4444H17.4V23H21.4C21.8424 23 22.2 22.6523 22.2 22.2222V18.3333H20.6V21.4444ZM12.6 23V21.4444H9.4V18.3333H7.8V22.2222C7.8 22.6523 8.1576 23 8.6 23H12.6ZM7 15.2222H23V16.7778H7V15.2222Z" fill="#fefefe"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="30" height="30" fill="white" transform="translate(0.1875 0.943359)"/>
                  </clipPath>
                  </defs>
              </svg>                               
          </a>
      </div>
        <div class="m-auto">
            <form class="form-inline">
                <input class="form-control mr-sm-2" id="search-number" type="search" placeholder="Search with car number" aria-label="Search" required>
                <button class="button my-2 my-sm-0" id="serachMemberBtn" type="submit">Search</button>
            </form>
        </div>
    </div>
    

</div>

  <!-- Navbar End -->

  <button  data-toggle="modal" data-target="#searchMemberModal" id="show-mem" style="position: absolute;left: 0;top: 0;z-index: -10;">Search</button>


  <!-- Members data -->

  <div class=" mt-5 mb-2 d-flex justify-content-between">
    <div>
        <h2  class="ml-2 heading">Members details</h2>
    </div>
    <div class="mr-5 d-flex">
        <a href="vehicle-details">
          <button class="button border-btn mr-3">Get vehicle data</button>
        </a>
        <button id="add-member" class="button" data-toggle="modal" data-target="#addMemberModal">Add Member +</button>
    </div>
  </div>
  <table class="table table-hover text-center" id="members-data">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Vehicle Type</th>
        <th scope="col">Vehicle Number</th>
        <th scope="col">Owner Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email ID</th>
        <th scope="col">Flat Number</th>
        <th scope="col">Added On</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <!-- modal for adding member -->

<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="visibleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title heading" id="exampleModalLabel">Add Member</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Add new member of society!</p>
            <form id="visitorForm">
                <div class="form-group">
                    <label for="car-number" class="col-form-label">Car Number</label>
                    <input type="text" class="form-control" id="car-number" required >
                </div>
                <div class="form-group">
                    <label for="name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone" required>
                </div>
                <div class="form-group">
                    <label for="email" class="col-form-label">Email ID</label>
                    <input type="text" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="flat-address" class="col-form-label">Flat Address</label>
                    <input type="text" class="form-control" id="flat-address" required>
                </div>
                <div class="form-group">
                    <p>Vehicle Type</p>
                    <input type="radio" id="two" name="type" value="false">
                    <label for="two">Two Wheeler</label><br>
                    <input type="radio" id="four" name="type" value="true">
                    <label for="four">Four Wheeler</label><br>
                </div>
                <button data-dismiss="modal" id="addMemberBtn" style="width: 100%;" class="button text-center m-2">Add Member</button>
            </form>
        </div>
      </div>
    </div>
</div>

<div id='add-msg' class="msg text-center">
    <p>New Member added succesfully</p>
</div>
<div id='error-msg' class="msg text-center">
    <p>Something went wrong! Try again</p>
</div>

  <!-- modal for member searched -->

  <div class="modal fade" id="searchMemberModal" tabindex="-1" role="dialog" aria-labelledby="visibleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title heading" id="exampleModalLabel">Member Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row m-0 mt-5 justify-content-around" id="mem-data-wrapper">
            
        </div>
        <button data-dismiss="modal" style="background-color: rgb(243, 64, 64);" class="button m-2 text-center">Close</button>
      </div>
    </div>
</div>


  <script src="{% static 'ai/js/member.js' %}"></script>
{% endblock %}
