{% extends 'ai/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'ai/css/index.css' %}">
{% endblock %}

{% block page_title %} <title>Sacn - AI Sentinel</title>  {% endblock %}

{% block container %}
<!-- Navbar -->
<div class="row m-0 bg-primary justify-content-between" id="navbar">
    <div class="logo m-2 ml-5">
        <a href="/">
            <img src="{% static 'ai/assets/as-logo.png' %}" alt="as logo" style="width: 65px;">
            <span class="heading">AI Sentinel</span>
        </a>
    </div>
    <div class="menu-items d-flex mr-5" >
        <div class="mr-5">
            <a href="/">
                Home
            </a>
        </div>
        <div class="mr-5">
            <a href="/members">
                Members
            </a>
        </div>
        <div >
            <a href="/scan">
                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <rect y="1" width="30" height="30" rx="15" fill="white" fill-opacity="1"/>
                    <path d="M7.8 9.77778V13.6667H9.4V10.5556H12.6V9H8.6C8.1576 9 7.8 9.34767 7.8 9.77778ZM22.2 13.6667V9.77778C22.2 9.34767 21.8424 9 21.4 9H17.4V10.5556H20.6V13.6667H22.2ZM20.6 21.4444H17.4V23H21.4C21.8424 23 22.2 22.6523 22.2 22.2222V18.3333H20.6V21.4444ZM12.6 23V21.4444H9.4V18.3333H7.8V22.2222C7.8 22.6523 8.1576 23 8.6 23H12.6ZM7 15.2222H23V16.7778H7V15.2222Z" fill="#4285F4"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="30" height="30" fill="white" transform="translate(0.1875 0.943359)"/>
                    </clipPath>
                    </defs>
                </svg>                               
            </a>
        </div>
    </div>

</div>

<!-- video -->
<div class="row m-0 mt-3 justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <video id="scanner" style="width: 100%;" autoplay></video>
        <button data-toggle="modal" data-target="#scanModal" id="snap" class="button" style="width: 100%;">Click photo</button>
    </div>
</div>

<!-- <button data-toggle="modal" data-target="#scanModal" id="snap" class="button" style="width: 100%;">Click photo</button> -->

<!-- vehicl image modal -->
<div class="modal fade" id="scanModal" tabindex="-1" role="dialog" aria-labelledby="visibleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title heading" id="exampleModalLabel">Vehice Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_c9uz3mrt.json"  background="transparent"  speed="1"  style="width: 640px; height: 480px;position: absolute;display: inline-block;"  loop  autoplay></lottie-player>
            <canvas id="scan-canvas" width="640" height ="480" ></canvas><br>
            <button data-dismiss="modal" id="close-img"></button>
        </div>
      </div>
    </div>
</div>


<!-- vehicle data modal -->

<div class="modal fade" id="searchMemberModal" tabindex="-1" role="dialog" aria-labelledby="visibleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title heading" id="exampleModalLabel">Vehicle Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row m-0 mt-5 justify-content-around" id="mem-data-wrapper">
            
        </div>
        <button data-dismiss="modal" style="background-color: rgb(243, 64, 64);" class="button m-2 text-center">Close</button>
      </div>
    </div>
</div>


<button  data-toggle="modal" data-target="#searchMemberModal" id="show-vehicle" style="position: absolute;left: 0;top: 0;z-index: -10;">Search</button>







<script src="{% static 'ai/js/scan.js' %}"></script>



{% endblock %}
